target/
.gitattributes
/.lib/
.vagrant
.DS_Store
.runvagrant_env
.dump
.idea
.idea_modules
dsa.sublime-workspace
dsa.sublime-project

*~
/.ensime
/.ensime_lucene
*.log

*.cache
*.classpath
*.project
*.settings/
*.scalastyle
*.box
*.swp
tags
.dsa-sequence.*
/logs/
tmp/
lib/
*.iml
docker/**/config
dsa-content/src/test/resources/videos/
.tmux.conf
**/#*#
**/.#*
